* {
  box-sizing: border-box;
}




.nav {
	top: 0;
	left: 0;
	width: 100%;
  justify-content: center;
  display: flex;
}


.logo {
  width: 120px;
	padding-top: 5em;
  display: block;
  margin: auto;
}

main {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 20px 0 black;
}

nav ul {
  display: flex;
  width: 75%;
  margin: 0;
}


nav li {
  justify-content: space-between;
  width: 100%;
  text-align: center;
  padding: 2em;
  display: block;
}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Slabo 27px', serif;
  letter-spacing: .1rem;
  color: black;
}

header .love {
  display: block;
  width: 600px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.section1 .column {
  float: left;
  width: 42%;
	margin-right: -7%;
  margin-left: 8%
}

.section1 .column:last-of-type {
	margin-right: 0;

}

.section1 .column img {
	width: 100%;
	height: auto;
}

h1 {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.4em;
	font-weight: normal;
	text-align: left;
  color: black;
  margin: 0;
}

h2 {


}
