* {
  box-sizing: border-box;
}

body {
  margin: 0;
	font-size: 100%; /* 1em = 16px */
	line-height: 1.5em; /* 16px x 1.5em = 24px */
	color: black;
}

.nav {
	top: 0;
	left: 0;
	width: 100%;
  justify-content: center;
  display: flex;
}


.logo {
  width: 120px;
	padding-top: 5em;
  display: block;
  margin: auto;
}

main {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 20px 0 black;
}

nav ul {
  display: flex;
  width: 75%;
}


nav li {
  justify-content: space-between;
  width: 100%;
  text-align: center;
  padding: 2em;
}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Slabo 27px', serif;
  letter-spacing: .1rem;
  color: black;
}

header .love {
  display: block;
  width: 600px;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}
